#gif_box {
    background-color: #E5E7EB;
    height: 80vh;
    width: 80vw;
    margin-left: 10vw;
    margin-bottom: 10vh;
}


#gif_img {
    padding-top: -10%;
    width: 120%;
    margin-left: -10%;
    z-index: -1;
}
