/*
    ids
*/
#positioning {
    margin: auto;
}

#call_to_action {
    color: #5048E5;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    margin: auto;
    width: 35vw;
    text-align: center;
    padding: 5%;
    margin-top: 20vh;
}

#create_button {
    margin: auto;
    width: 35vw;
    padding: 2%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 20vh;
}