/*
    classes
*/

.ff_boxes {
    border-radius: 9px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 2%;
    text-align: left;
}

.MediumButtonText {
    width: 356px;
    height:67px;
    font-family: 'Inter';
    font-style: 'normal';
}


/*
    ids
*/


#ff_grid {
    display: flex;
}

#ff_box{
    background-color: #FFFFFF;
    margin-left: 50px;
}

#ff_spacing {
    margin-top: 100px;
    margin-bottom: 100px;
}

#ff_boldtext {
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  text-align: left;
  padding-top: 10%;
}

#ff_heading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 96.82px;
    text-align: left;
    color: #5048E5;
    margin:10px;
    margin-left: 0px;
}


#ff_description {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  padding: 0px;
  margin: 5px;
  color: #000000;
}


#ff_illus {
    padding-top: 10%;
}
