#nav_spacing {
  display: flex;
  /* border-bottom: 1px solid black;*/
}

/*
    classes
*/

.NButtonText {
  margin: 25px 12px;
  font-family: "Inter";
  font-style: "normal";
  padding: 12px 24px;
}

.BlackNButtonText {
  margin: 25px 12px;
  font-family: "Inter";
  font-style: "normal";
  padding: 12px 24px;
}

.navLogo {
  padding: 10px;
  width: 300px;
  height: auto;

}

/*
    ids
*/

#Ngrid {
  display: flex;
  margin-left: 1.09%;
  margin-right: 75px;
  width: 100%;
}

#Nlogo {
  /* this needs to later on be adjusted based on screen width */
  width: 90%;
  display: inline-flex;
}

@media (max-width: 500px) {
  .BlackNButtonText {
    display: none;
  }

  #Ngrid {
    display: flex;
    margin-left: 0px;
    margin-right: 75px;
    width: 100%;
  }
}
