/*
    classes
*/
.description_list{
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: black;
    margin-bottom: 5px;
}
.why_blocktext {
  margin-left: 100px;
  margin-right: 20%;
  padding: 5%;
  text-align: center;
}

.text_box{
  text-align:left;
  width: 35%;
}
/*
    ids
*/

#box {
    display: flex;
    justify-content: center;
}

#description{
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: black;
}




#form_image {
    width: 100%;
    height: 95%;
}

#why_boldtext {
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  padding-top: 0%;
  padding-bottom: 2.5%;
  margin-left: 25%;
  width: 50%;
}
