.titleContainer {
    width: 100%;
    height: 230px;
    background-color: #374151;
}

.containerTitle {
  font-family: "Inter";
  font-style: "normal";
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  color: #ffffff;
  text-align: center;
  width: 100%;
  margin-top: 1%;
}

.containerTitle2 {
  font-family: "Inter";
  font-style: "normal";
  font-weight: 700;
  font-size: 24px;
  line-height: 42px;
  color: #ffffff;
  text-align: center;
  width: 100%;
  margin-top: 3%;
}

.outTitle{
    margin-left:auto;
    margin-right: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.row2{
    margin-top: 3%;
    margin-bottom: 6%;
}

.icon{
    font-size: 20px;
    color:#5048E5;
}

.boxText1{
    /* text-lg/Medium */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #374151;
}

.boxText2{
    /* text-lg/Medium */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #6B7280;
    text-align: center;
}

.exitPageButton {
    margin-right: 10px;
}

.pageControl {
    margin-top: 10%;
  }

.shadow-border {
    flex-direction: row;
    align-items: flex-start;
    padding: 23px 28px;
  
    background: #ffffff;
    box-shadow: 0px 10px 15px rgba(31, 41, 55, 0.1),
      0px 0px 6px rgba(31, 41, 55, 0.05);
  }